services:
  monorepo:
    restart: always
    image: monorepo:1.0
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./:/app
      - monorepo_node_modules:/app/node_modules

  build-node-modules:
    extends: monorepo
    command: npm i
    volumes:
      - ./node_modules:/app/node_modules

  ui-kit:
    extends: monorepo
    image: ui-kit:1.0
    command: nx storybook ui-kit
    ports:
      - "4400:4400"

volumes:
  monorepo_node_modules: